{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <section class="home-top">
        <article class="container">
            <h1>Salutem</h1>
            <h2>Maison de santé</h2>
            <a href="#appointment" class="btn btn-dark">Prendre rendez-vous</a>
        </article>
    </section>
    <section class="home-boxes">
        <div class="container">
            <article>
                <h3>Centre médicale</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, debitis delectus dolorem, est
                    eveniet ex explicabo id iure iusto magni maiores nam non numquam odio officiis quaerat reiciendis
                    repellat totam.</p>
                <a href="#" class="btn btn-light">Lire la suite</a>
            </article>
            <article>
                <h3>Horaires d'ouverture</h3>
                <table class="opening-hours">
                    {% for openingHour in openingHours %}
                        <tr>
                            <td>{{ openingHour.dayname }}</td>
                            <td class="hours">
                                <!-- if : afficher openingTime+closingTime, sinon : afficher "Fermé" -->
                                {% if openingHour.openingTime %}
                                    {{ openingHour.openingTime|date('H:i') }} - {{ openingHour.closingTime|date('H:i') }}
                                {% else %} Fermé
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                </table>
            </article>
            <article>
                <h3>Numéro d'urgence</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci assumenda aut delectus dolores
                    illo laboriosam provident reiciendis tempore vel?</p>
                <p>
                    <a href="tel:0243785443" class="phone-number">0243785443</a>
                </p>
                <a href="#" class="btn btn-light">Lire la suite</a>
            </article>
        </div>
    </section>

    <section class="doctors">
        <div class="container">
            <article>
                {% include 'appointment/_form.html.twig' with {'form':appointmentForm} %}
            </article>

            {% for doctor in doctors %}
                {% include 'doctor/_thumbnail.html.twig' with {'doctor':doctor} %}
            {% endfor %}

        </div>
    </section>
{% endblock %}
