{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <section class="home-top">
        <article class="container">
            <h1>Salutem</h1>
            <h2>Maison de santé</h2>
            <a href="#appointment" class="btn btn-dark">Prendre rendez-vous</a>
        </article>
    </section>
    <section class="home-boxes">
        <div class="container">
            <article>
                <h3>Centre médicale</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, debitis delectus dolorem, est
                    eveniet ex explicabo id iure iusto magni maiores nam non numquam odio officiis quaerat reiciendis
                    repellat totam.</p>
                <a href="#" class="btn btn-light">Lire la suite</a>
            </article>
            <article>
                <h3>Horaires d'ouverture</h3>
                <table class="opening-hours">
                    {% for openingHour in openingHours %}
                        <tr>
                            <td>{{ openingHour.dayname }}</td>
                            <td class="hours">
                                <!-- if : afficher openingTime+closingTime, sinon : afficher "Fermé" -->
                                {% if openingHour.openingTime %}
                                    {{ openingHour.openingTime|date('H:i') }} - {{ openingHour.closingTime|date('H:i') }}
                                {% else %} Fermé
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                </table>
            </article>
            <article>
                <h3>Numéro d'urgence</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci assumenda aut delectus dolores
                    illo laboriosam provident reiciendis tempore vel?</p>
                <p>
                    <a href="tel:0243785443" class="phone-number">0243785443</a>
                </p>
                <a href="#" class="btn btn-light">Lire la suite</a>
            </article>
        </div>
    </section>

    <section class="doctors">
        <div class="container">
            <article>
                <form class="form-appointment">
                    <h3>Prendre rendez-vous</h3>
                    <input type="text" required placeholder="Nom">
                    <input type="text" required placeholder="Prénom">
                    <input type="email" placeholder="Email">
                    <input type="tel" required placeholder="Téléphone">
                    <input type="date" required placeholder="Date">
                    <input type="time" step="900" required placeholder="Heure">
                    <select required>
                        <option disabled selected>Choisissez une spécialité</option>
                        <option>Médecin Généraliste</option>
                        <option>Dentiste</option>
                        <option>Infirmier</option>
                        <option>Homéopathe</option>
                        <option>Osthéopathe</option>
                    </select>
                    <textarea placeholder="Votre message"></textarea>
                    <button type="submit" class="btn btn-light">
                        <i class="fa fa-check"></i>
                        Envoyer
                    </button>
                </form>
            </article>

            {% for doctor in doctors %}
                {% include 'doctor/_thumbnail.html.twig' with {'doctor':doctor} %}
            {% endfor %}

        </div>
    </section>
{% endblock %}
