{% extends 'base.html.twig' %}

{% block title %}Liste des docteurs{% endblock %}

{% block body %}
    <!-- juste pour faire beau, mettre un titre h1 -->
    <section class="container">
        <h1>La liste de nos supers docteurs</h1>
    </section>

    <!-- Afficher uniquement la liste des docteurs -->
    <section class="doctors">
        <div class="container">
            <!-- boucle pour afficher la photo, le nom et les compétences des médecins -->
            {% for doctor in doctors %}
                {% include 'doctor/_thumbnail.html.twig.html' with {'doctor':doctor} %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
